<!-- <div class="invoice" *ngFor="let invoice of invoiceIds; let i = index">
  <h1>Invoice Num. {{ invoice }}</h1>
  Amount: {{ (invoiceDetails[i] | async)?.amount }}
</div> -->
<!-- <table>
  <tr>
    <th colspan="3">
      PAGE REPORT
    </th>
  </tr>
  <tr>
    <th></th>
    <th>Lessons</th>
    <th>Average Mark</th>
  </tr>
  <tr>
    <td>Attempts</td>
    <td>
      {{totAttempt}}
    </td>
    <td>
      {{totAvgPercent}}
      %</td>
  </tr>
  <tr>
    <td>Completed</td>
    <td>
      {{totCompleted}}
    </td>
    <td>
      {{totAvgcompPercent}}
      %</td>
  </tr>

</table> -->